<?xml version="1.0" encoding="UTF-8"?>
<owletConfig>
	<title></title>

	<blog>
		<sendNotificationToMailing></sendNotificationToMailing>
		<postsPerPage></postsPerPage>
		<blogName></blogName>
		<blogDescription></blogDescription>
	</blog>

	<mailer>
		<sender></sender>
		<senderName></senderName>
		<receiver></receiver>
		<host></host>
		<port></port>
		<auth></auth>
		<username></username>
		<password></password>
	</mailer>

	<tickets>
		<sendMail></sendMail>
		<title></title>
	</tickets>

	<mailing>
		<confirmationURL></confirmationURL>
		<cancelURL></cancelURL>
	</mailing>
</owletConfig>