<?xml version="1.0" encoding="UTF-8"?>
<owletConfig>
	<title>Owlet</title>
	<sitemapLastChange>2014-09-24 17:12:40</sitemapLastChange>

	<blog>
		<sendNotificationToMailing>0</sendNotificationToMailing>
		<postsPerPage/>
		<blogName>Owlet</blogName>
		<blogDescription/>
	</blog>

	<mailer>
		<sender/>
		<senderName/>
		<receiver/>
		<host/>
		<port/>
		<auth/>
		<username/>
		<password/>
	</mailer>

	<tickets>
		<sendMail/>
		<title>Owlet</title>
	</tickets>

	<mailing>
		<confirmationURL>http://owlet/confirmemail.php</confirmationURL>
		<cancelURL>http://owlet/cancelemail.php</cancelURL>
	</mailing>
</owletConfig>