<?xml version="1.0" encoding="UTF-8"?>
<owletConfig>
	<blog>
		<sendNotificationToMailing>1</sendNotificationToMailing>
		<postsPerPage>6</postsPerPage>
		<blogName>Blog de teste</blogName>
		<blogDescription>Só testes testes e testes</blogDescription>
	</blog>

	<mailer>
		<sender></sender>
		<senderName></senderName>
		<receiver></receiver>
		<host></host>
		<port></port>
		<auth></auth>
		<username></username>
		<password></password>
	</mailer>
</owletConfig>