/**
Fire Red
 * @author David Lima
 */
#sidebar-left {
	background-color: #D90000;
}

#breadcrumb {
	background-color: #D90000;
}

body {
	background-color: #D90000;
}

#dashboard_links .nav {
	background-color: #D90000;
}

.text-info {
	color: #D90000;
}

.panel-menu i {
	color: #D90000;
}

.btn-info {
	background-color: #D90000;
}